@charset "UTF-8";

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #9ED6D7, #6CC5C6);
    background-attachment: fixed;
}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #42797ab0;
}

h1 {
    color: #D1645D;
    text-align: center;
    text-shadow: 1px 1px 2px #6e3631b0;
}

h2 {
    color: #025959;
}

p {
    text-align: justify;

}
